<h2><%= "Event ##{@booking_request.id}" %></h2>


<%=  "Venue Name: #{@booking_request.venue_name}"%>
</br>
<%=  "Location: #{@booking_request.location}"%>
</br>
<%=  "Date: #{@booking_request.start_time} to #{@booking_request.end_time}"%>
</br>
<%=  "Comments: #{@booking_request.comment}"%>

<h4>Rentals</h4>



<table style="width:100%">
  <tr>
    <th>Item ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Status</th>
    <th>Price</th>
  </tr>
  <% @booking_request.item_rentals.each do |item| %>
  <% if Company.find_by(id: item.inventory_item.company_id)&.company_name %>
  <tr>
    <td><%= "#{item.id}" %></td>
    <td><%= "#{item.inventory_item.name}"%></td>
    <td><%= "#{Company.find(item.inventory_item.company_id).company_name}"%></td>
    <td><%= "#{item.status}"%></td>
    <td><%= "#{item.inventory_item.price}"%></td>
  </tr>
  <% else %>
  <%end %>

  <% end %>
  <tr>
    <td>Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= @booking_request.total%></td>

  </tr>
</table>





<%= link_to "Delete Event", @booking_request, method: :delete, data: {confirm: "You sure?"} %>
