<h1><%="#{current_company.company_name}'s Requests"%></h1>
<table style="width:100%">
  <tr>
    <th>Item ID</th>
    <th>Item Name</th>
    <th>Event Name</th>
    <th>Date</th>
    <th>Status</th>
  </tr>


  <% @item_rentals.each do |rental| %>
  <tr>
    <td><%= link_to "#{rental.id}", item_rental_path(rental) %></td>
    <td><%= link_to "#{rental.inventory_item.name}", item_rental_path(rental) %></td>
    <td><%= link_to "#{rental.booking_request.venue_name}", item_rental_path(rental) %></td>
    <td><%= link_to "#{rental.booking_request.start_time}", item_rental_path(rental) %></td>
    <td>status</td>
  </tr>
  <% end %>
</table>
