<h3><%="My Item Requests"%></h3>
<table class= "table">
  <tr>
    <th>Rental ID</th>
    <th>Item ID</th>
    <th>Item Name</th>
    <th>Event Name</th>
    <th>Date</th>
    <th>Status</th>
  </tr>

<% if current_user%>
  <% @item_rentals.each do |rental| %>
  <tr>
    <td><%= link_to "#{rental.id}", item_rental_path(rental) %></td>
    <td><%= rental.inventory_item.id %></td>
    <td><%= rental.inventory_item.name %></td>
    <td><%= rental.booking_request.venue_name %></td>
    <td><%= rental.booking_request.start_time %></td>
    <td><%= rental.status %></td>
  </tr>
  <% end %>
</table>
<% end%>

<% if current_company%>
  <% @item_rentals.each do |rental| %>
  <tr>
    <td><%= link_to "#{rental.id}", edit_item_rental_path(rental) %></td>
    <td><%= rental.inventory_item.id %></td>
    <td><%= rental.inventory_item.name %></td>
    <td><%= rental.booking_request.venue_name %></td>
    <td><%= rental.booking_request.start_time %></td>
    <td><%= rental.status %></td>
  </tr>
  <% end %>
</table>
<% end%>
