<div class= 'welcome-header'>
  <% if current_company.avatar.attached? %>
    <%= image_tag current_company.avatar.variant(resize: "100x100")  %>
  <% else %>
    <%= image_tag("party-avatar.png", {size: '100', class: 'img-thumbnail'})  %>
  <% end %>
  <%= "Welcome #{current_company.company_name}"%>
</div>


<% if current_company.images.attached? %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <h2>GALLERY</h2>
    <div class="carousel-inner">
      <% current_company.images.each_with_index do |image, i| %>
      <%= content_tag :div, class: ["carousel-item", i == 0 ? 'active' : ''] do %>
          <%= image_tag image.variant(resize: "400x400"), class: 'd-block w-20'%>
      <%end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>



























<% if @inventory_items.any? %>
  <div class= 'flashcard-holder'>
    <h2>MY ITEMS</h2>
    <div class="container">
      <div class="row">
      <% current_company.inventory_items.each do |item| %>
        <div class="flashcard">
          <% if item.images.attached? %>
            <% item.images.each do |image| %>
              <%= image_tag image.variant(resize: "100x100")%>
            <%end %>
          <% else %>
              <%= image_tag("party-item.png", {size: '300'})  %>
          <% end %>
          <h5 class= "flashcard"><%= link_to "#{item.name}", item %></h5>
          <p><%= item.subcategory.upcase %></p>
          <p><%= "$#{item.price} daily | #{item.quantity} available"%></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
