<div class= 'welcome-header'>
  <% if current_company.avatar.attached? %>
    <%= image_tag current_company.avatar.variant(resize: "100x100")  %>
  <% else %>
    <%= image_tag("party-avatar.png", {size: '100', class: 'img-thumbnail'})  %>
  <% end %>
  <%= "Welcome #{current_company.company_name}"%>
</div>

<div class= 'gallery'>
  <% if current_company.images.attached? %>
    <h2>GALLERY</h2>
    <% current_company.images.each do |image| %>
      <%= image_tag image.variant(resize: "400x400")%>
    <%end %>
  <% end %>
</div>

<% if @inventory_items.any? %>
  <div class= 'flashcard-holder'>
    <h2>MY ITEMS</h2>
    <div class="container">
      <div class="row">
      <% current_company.inventory_items.each do |item| %>
        <div class="flashcard">
          <% if item.images.attached? %>
            <% item.images.each do |image| %>
              <%= image_tag image.variant(resize: "100x100")%>
            <%end %>
          <% else %>
              <%= image_tag("party-item.png", {size: '300'})  %>
          <% end %>
          <h5 class= "flashcard"><%= link_to "#{item.name}", item %></h5>
          <p><%= item.subcategory.upcase %></p>
          <p><%= "$#{item.price} daily | #{item.quantity} available"%></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
