<h2><%= @inventory_item.name %></h2>

<%= "#{@inventory_item.quantity} Available"%>
<%= "$#{@inventory_item.price}"%>
<%= "#{@inventory_item.category} "%>
<%= "#{@inventory_item.subcategory} "%>
<%= "More Info: #{@inventory_item.description}"%>

<% if current_company %>
  <%= link_to 'Edit', edit_inventory_item_path %>
<%end %>

  <% link_to  %>
<%= month_calendar events: @inventory_item.booking_requests do |date, bookings| %>
  <%= date %>
  <% bookings.each do |booking| %>
    <div class="booked">Booked</div>
  <% end %>

        <% if current_user.booking_requests  %>
          <% current_user.booking_requests.each do |event| %>
              <% if event.start_time.to_s.include?(date.to_s) %>

                  <p>Your event: <strong><%= event.venue_name %></p></strong>

                  <%= form_with(model: @item_rental, local: true) do |form| %>

                  <div class="field">
                    <%= form.hidden_field :booking_request_id => event.id  %>
                    <%= form.hidden_field :inventory_item_id => @inventory_item.id  %>
                  <div class="actions">
                    <%= form.submit %>
                  </div>
                  <%end %>

              <%end %>
          <% end %>

          <%end %>










    </div>












<% end %>
