<div class= "welcome-header">
  <% if @company.avatar.attached? %>
    <%= image_tag @company.avatar.variant(resize: "100x100") %>
  <% else %>
    <%= image_tag("party-item.png", {size: '300'})  %>
  <% end %>
  <h3><%= @company.company_name.upcase %></h3>
</div>

<div class= "gallery">
  <% if @company.images.attached? %>
    <% @company.images.each do |image| %>
      <%= image_tag image.variant(resize: "400x400")%>
    <%end %>
  <% end %>
</div>

<% if @company.inventory_items.any? %>
  <div class= 'flashcard-holder'>
    <h4><%="#{@company.company_name.upcase} 'S ITEMS"%></h4>
    <div class="container">
      <div class="row">
      <% @company.inventory_items.each do |item| %>
        <div class="flashcard">
          <% if item.images.attached? %>
            <% item.images.each do |image| %>
              <%= image_tag image.variant(resize: "100x100")%>
            <%end %>
          <% else %>
            <%= image_tag("party-item.png", {size: '300'})  %>
          <% end %>
          <p><%= item.subcategory.upcase %></p>
          <h5><%= link_to "#{item.name}", item %></h5>
          <p><%= "$#{item.price} daily | #{item.quantity} available"%></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
